.footer {
    font-family: inherit;
    line-height: 1.5;
    font-weight: 400;
    display: flex;
    width: 100%;
    min-width: 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-evenly;

    a {
        color: #FFFFFF;
        text-decoration: none;
        font-weight: 600;
        white-space: nowrap;
        &:hover {
            cursor: pointer;
            color: $secondary;
        }
      }

    .footerMenu {
        background-color: #000000;
        box-sizing: border-box;
        min-width: 0;
        margin-left: -16px;
        margin-right: -16px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-family: system-ui,sans-serif;
        line-height: 1.5;
        font-weight: 400;
        color: #000;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-block-start: 1em;
        margin-block-end: 1em;

        .archive {
            width: 33.33333333333333%;
            text-align: center;
            min-height: 200px;
            vertical-align: middle;

        }

        .pages {
            width: 33.33333333333333%;
            text-align: center;
        }

        .social {
            width: 33.33333333333333%;
            text-align: center;
        }
        .footerLogo {
            width: 50%;
        }
        .twitter {
            width: 33.33333333333333%;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 40px;
            padding-bottom: 8px;
        }
    }
}

.copyright {
    font-family: system-ui,sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-weight: inherit;
    margin-bottom: 32px;
    text-align: center;
    font-size: 12px;
}