$primary: #f48705;
$secondary: #f5b004;
$muted: #f6eeff;

$fontsBody: 400;
$fontBold: 600;
$fontHeading: 900;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
  }